.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.loginHeader {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20;
}

/*class not tag */
.input {
  border: none;
  background-color: #ddd;
  margin-bottom: 20px;
  padding: 8px;
  font-size: 18px;
  width: 100%;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.registerSwitch {
  margin-top: 4em;
  user-select: none;
}

.todoName {
  font-size: 20;
  font-weight: bold;
  margin: 0;
}
